doctype html 
html 
    head 
        title Members Only 
        link(rel="stylesheet", href="/stylesheets/style.css") 
    body 
        div#headerContainer 
            h1#logo Members-Only 
            div#rightContainer 
                if !locals.currentUser
                    div#logInButton 
                        a() Log In
                    div#signUpButton 
                        a(href="/signup") Sign Up
                else 
                    div#messageButton 
                        a() Create Message 
                    div#logOutButton 
                        a(href="/log-out") Log Out
        
        div#mainBodyContaienr 
            block content