doctype html 
html 
    head 
        title Members Only 
        link(rel="stylesheet", href="/stylesheets/style.css") 
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet")
    body 
        div#headerContainer 
            a(href="/")
                h1#logo Members-Only 
            div#rightContainer 
                if !locals.currentUser
                    div#logInButton Log In
                    div#signUpButton 
                        a(href="/signup") Sign Up
                else 
                    div#messageButton 
                        a() Create Message 
                    div#logOutButton 
                        a(href="/log-out") Log Out
        
        div#mainBodyContainer 
            block content